<div class="container">
  <header class="header">
    <h1>一覧</h1>
  </header>
    <p><%= notice %></p>

    <table>
      <tr>
        <th>内容</th>
      </tr>
      <% @speak.each do |speak| %>
        <tr>
          <td><%= speak.content %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to '新しく投稿する',new_speak_path %>

      <footer class="footer">
        <p>speak_app_footer</p>
      </footer>
    </div>
