<header>
  <h2>詳細画面</h2>
</header>

<p class="content"><%= @post.content%></p>

<%= link_to "一覧画面にもどる", posts_path, class: "back_link" %>

<footer class="footer">
  <p>speak_app_footer</p>
</footer>
